<header>
         <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.94 67.43" width="50px" height="50px">
            <defs>
                <style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}.cls-2{fill:#fff;}</style>
            </defs>
            <path class="cls-1" d="M9,21c0,28.05,8,50.76,17.87,50.76S44.74,49,44.78,21Z" transform="translate(-6.62 -15.57)"/>
            <ellipse class="cls-2" cx="22.54" cy="33.85" rx="3.09" ry="12.78"/>
            <rect class="cls-2" width="41.48" height="5.76"/>
            <path class="cls-1" d="M90.69,21c0,28.05-8,50.76-17.87,50.76S55,49,55,21Z" transform="translate(-6.62 -15.57)"/>
            <ellipse class="cls-2" cx="63.95" cy="33.85" rx="3.09" ry="12.78"/>
            <rect class="cls-2" x="52.08" y="15.57" width="41.48" height="5.76" transform="translate(139.02 21.33) rotate(-180)"/>
            <path class="cls-1" d="M43.69,76.45c1.46,4.12,5.29,6.26,8.49,5.34,3.46-1,4.63-5.11,4.69-5.34" transform="translate(-6.62 -15.57)"/>
        </svg>
        <h1>Nerdy Shirt Maker</h1>
</header>