<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main class="home">
        <section>
            <h1>Bedankt voor je bestelling!</h1>
            <a href="/">terug naar home</a>
        </section>
    </main>

</body>
</html>