<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main>
        <section>
            <h1>Bedankt voor je bestelling!</h1>
            <a href="/">terug naar home</a>
        </section>
    </main>
<script>
    //clear local storage als user bestelt heeft zodat volgende keer bij nieuw shirt maken niet nog de oude gegevens erin zitten
    localStorage.clear();
</script>
</body>
</html>