<%- include('./partials/head.ejs'); %> 
<body>
    <header>

    </header>

    <main>
        <h1>Let's Begin!</h1>

        <section>
            <h2>De T-shirt Maker</h2>
            <!-- svg -->
            <a href=""></a>
        </section>

        <form action="">
            <fieldset>

            </fieldset>
        </form>

    </main>

    <footer>

    </footer>
</body>
</html>