<%- include('./partials/head.ejs'); %> 
<body>

    <%- include('./partials/header.ejs'); %> 

        <h1>Persoonlijke Gegevens</h1>

        <main class="formLayout">
            <section>
                <%- include('./shirt.ejs'); %> 
                <a href="/overzicht">bekijk alle shirts</a>
            </section>
    
            <form action="" method="post" id="info">
    
                <fieldset>
                    <legend> Gegevens</legend>
    
                    <div>
                        <label for="text">Wat is jouw naam?</label>
                        <input type="text" id="text" name="firstname" required maxlength="50" size="25" placeholder="Voornaam">
                        <input type="text" id="text" name="surname" required maxlength="50" size="25" placeholder="Achternaam">
                    </div>
    
                    <div>
                        <label for="email">Wat is je E-mail</label>
                        <input type="email" id="email" name="userMail">
                    </div>
    
                </fieldset>
    
                <button type="submit" form="info" value="Submit" id="submitButton"> <p>Bestel!</p></button>
    
            </form>
        </main>
       
</body>
</html>