<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main class="home">
        <section>
            <h1>Maak je eigen Nerdy <span>&#129299;</span> Shirt!</h1>
            <!-- link not accesible in firefox fix later -->
           <a href="/shirtMaker">Snel beginnen!</a>
        </section>
        <!-- not a must have right now alleen als tijd over is! eerste stappen nu local storage, form validatie en live update -->
            <!-- <a href="/overzicht">bekijk eerder gemaakte shirts</a> -->
    </main>

    <!-- hier overzicht van voorheen gemaakte shirts? of aparte site? -->

</body>
</html>