<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main class="home">
        <section>
            <h1>Maak je eigen Nerdy <span>&#129299;</span> Shirt!</h1>
            <!-- link not accesible in firefox fix later -->
           <a href="/shirtMaker">Snel beginnen!</a>
        </section>
    </main>
</body>
</html>