<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main class="home">
        <section>
            <h1>Maak je eigen Nerdy Shirt!</h1>
            <!-- link not accesible in firefox fix later -->
           <a href="/shirtMaker">Snel beginnen!</a>
        </section>
            <a href="/overzicht">bekijk eerder gemaakte shirts</a>
    </main>

    <!-- hier overzicht van voorheen gemaakte shirts? of aparte site? -->

</body>
</html>