<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main class="home">
        <section>
            <h1>Maak je eigen Nerdy <span>&#129299;</span> Shirt!</h1>
            <!-- link is niet toegankelijk in newest firefox version -->
            <!-- dit los je op in instellingen, ik kan het ook niet beinvloeden met tabindex -->
            <!-- <a href="/shirtMaker">Snel beginnen!</a> -->

           <!-- daarom fake ik nu een form met button -->
           <form method="get" action="/shirtMaker">
                <button type="submit">Snel beginnen!</button>
            </form>
        </section>
    </main>
</body>
</html>