<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main class="formLayout">
        <section id="svgShow">
            <h2>Jouw Shirt</h2>
            <!-- svg -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.71 94.1" width="320px" id="svgShirt">
                <!-- accesibility: https://css-tricks.com/accessible-svgs/ later -->
                <g id="Shirt-Uiterlijk" data-name="Shirt Uiterlijk">
                    <path class="shirtColor" d="M37.59,3.52s-11.85,6-14.29,7A5.61,5.61,0,0,0,20.16,14s-6,22.3-5.46,24.51,13,2.9,13,2.9,2,46.36-.81,50.31c0,0,.93,2.67,10.69,3.83a186.76,186.76,0,0,0,21.61.93s10-1.16,14-3.6c0,0-4.06-46.7-.69-51.7,0,0,7.66.23,12.78-1.62,0,0-2.91-26.84-7-28.35S62.22,3.52,62.22,3.52s-2.67,3.84-6.74,4.42a45.83,45.83,0,0,1-9.06.11S42.12,7.82,37.59,3.52Z" transform="translate(-14.16 -2.88)" />
                </g>
            </svg>
        </section>

        <section>

            <ul>
                <% if(typeof alert !== 'undefined') { %>
                    <!-- te kort tijd en weinig kennis om dit ui friendly te maken -->
                    <% alert.forEach(function(error) { %>
                        <li class="errorMsg">
                            <img src="img/error.png" alt="error icon">
                        
                            <%= error.msg %>
                         
                        </li>
                    <% }) %>
                <% } %>

            </ul>
            <form action="/shirtMaker" method="post" id="shirtMaker">

                <fieldset>
                    <legend> Ontwerp T-Shirt</legend>
            
                    <div class="color">
                        <p>Kies je kleur</p>
                        <!-- source: https://developer.mozilla.org/nl/docs/Learn/Forms/How_to_structure_a_web_form -->
            
                        <label for="black">
                            <input type="radio" id="black" name="color" value="black">
                            Zwart 
                        </label>
            
                        <label for="white">
                            <input type="radio" id="white" name="color" value="white">
                            Wit
                        </label>
                        
                        <label for="red">
                            <input type="radio" id="red" name="color" value="red">
                            Rood
                        </label>
            
                        <label for="green">
                            <input type="radio" id="green" name="color" value="green">
                            Groen
                        </label>
            
                        <label for="blue">
                            <input type="radio" id="blue" name="color" value="blue">
                            Blauw
                        </label>
            
                        <label for="purple">
                            <input type="radio" id="purple" name="color" value="purple">
                            Paars
                        </label>

                    </div>
                   
                    <div>
                        <label for="text">
                            Wat voor tekst wil je op het Shirt? (max. 17 characters)
                            <input type="text" id="text" name="TshirtText" maxlength="17" size="17">
                        </label>
                        
                        <p><i>Bv. 'I. AM. IRON. MAN.'</i></p>

                    </div>
            
                    <div>
                        <p>Voeg een afbeelding toe (optioneel)</p>
            
                        <!-- image source: https://commons.wikimedia.org/wiki/File:Marvel-Comics-Logo.svg -->
                        <label for="marvel">
                            <input type="radio" id="marvel" name="fanBaseImg" value="Marvel">
                            <img src="/img/marvelLogo.png" alt="Marvel wit met rood logo">
                        </label>
            
                        <!-- image source: https://1000merken.com/harry-potter-logo/ -->
                        <label for="HarryPotter">
                            <input type="radio" id="HarryPotter" name="fanBaseImg" value="HarryPotter">
                            <img src="/img/Harry-Potter-Logo.png" alt="Harry Potter zilver logo">
                        </label>
            
                        <!-- image source: https://1000logos.net/star-wars-logo/ -->
                        <label for="StarWars">
                            <input type="radio" id="StarWars" name="fanBaseImg" value="StarWars">
                            <img src="/img/StarWars-logo.png" alt="Star Wars geel logo">
                        </label>
    
                        <label for="noImg">
                            <input type="radio" id="noImg" name="fanBaseImg" value="noImg">
                            Geen afbeelding
                        </label>
            
                    </div>
                </fieldset>
        
            
                <button type="submit" form="shirtMaker" value="Submit" id="submitButton">Volgende</button>
            
            </form>

        </section>

       

    </main>
<script src="script/updateShirt.js"></script>
<script src="script/localStorage.js"></script>
</body>
</html>