/*************************************/
/************** BASICS **************/
/***********************************/

body{
    background-color: #663399;
    color:white;
    margin: 0;
    box-sizing: border-box;
}

body, p, fieldset div input[type=text], fieldset div input[type=email], text, button {
    font-family: 'Space Mono', monospace;
}

i{
    font-weight: 300;
}

h1 {
    text-align: center;
    font-size: 26px;
    margin: .5em;
}

h2{
    text-align: center;
    font-size: 18px;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    font-size: 16px;
}

/*************************************/
/************** HEADER **************/
/***********************************/

header{
    display: flex; /* test */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header svg{
    margin: 0em 1em;
}

/***********************************/
/************** MAIN **************/
/*********************************/

/* section + shirt */

main svg{
    width: 250px;
}

.shirtColor{
    fill: white;
    stroke:#000;
}

.formBestel section:first-of-type{
    justify-content: center; 
     display: grid; 
    grid-template-rows: 0fr 1fr; 
    position: relative;
}

#svgShow p:first-of-type{
    position: absolute;
    top: 20em;
    left: 0;
    right: 0;
    font-size: 12px;
    
    mix-blend-mode: difference;
    text-align: center;
}

#svgShow p.color{
    display:none
}

text {
    text-align: center;
    font-size: 7px;
    width: 10px;
    background-color: white;
}

#svgShow img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 10em;
}

/* in css hidden, its shown if js is working */
.formLayout  #svgShow {
    display: none; /* test */
    grid-template-rows: 0fr 1fr;
}

.formLayout.show #svgShow  {
    display: grid;
    grid-template-rows: 0fr 1fr;
    text-align: center;
    position: relative;
    justify-content: center; 
}

.formLayout section:nth-of-type(2) div:last-of-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.formLayout section:nth-of-type(2) div:last-of-type p{
    grid-area: 1 / 1 / 1 / 3
}


/* home page*/

.home {
    width: 100vw;
    height: 100vh;
}

.home section h1 {
    font-size: 24px;
}

.home section{
    max-width: 20em;
    max-height: 10em;
    text-align: center;
    border: white 5px solid;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* links that also works like button, same look */
main a{
    text-decoration: none;
    color: black;
    max-width: 10em;
    text-align: center;
}

/***********************************/
/************** FORM **************/
/*********************************/

/* basics */

fieldset{
    background-color: white;
    max-width: 780px;
    color: black;
    border: none;
    text-align: center;
    box-shadow:  5px 5px 0px black;
     /* old version of safari didn't support it  */
     -webkit-box-shadow:  5px 5px 0px black;
     margin: 1em;
}

fieldset legend{
    font-weight: 700;
}

fieldset div{
    margin: 20px 0px;
}

fieldset label[for=ammount], fieldset label[for=email]{
    font-weight: 700;
}

/* text */

fieldset div > p, label[for=text]{
    font-weight: 700;
}

/* Logo sizes - img on shirt */

img[src] {
    width: 100px;
    height: 50px;
    transition: .3s ease-in-out; /* test */
}

/* input with text field */

fieldset div input[type=text], fieldset div input[type=email], fieldset div input[type=number]  {
    display: block;
    border: solid 2px black;
    transition: .2s ease;
    padding: 5px;
    margin: 1em auto;

}

/* input radio buttons */
fieldset div label:hover{
    cursor: pointer;
}

/* button */

form button, main a {
    border: black solid 2px;
    padding: .1em 2em;
    box-shadow:  5px 5px 0px black;
    /* old version of safari didn't support it  */
    -webkit-box-shadow:  5px 5px 0px black;
    background-color: white;
    margin: 1em auto;
    display: block;
}

form button p{
    font-size: 16px;
}

/* States */

form button:hover,  main a:hover, form button:focus,  main a:focus{
    box-shadow: 10px 10px 0px black;
    -webkit-box-shadow: 10px 10px 0px black;
    cursor: pointer;
}

form label:hover{
    transform: translate(1.1); /* test */
    font-weight: 700;
}

form button:hover p, form button:focus p,  main a:hover,  main a:focus{
    font-weight: 700;
}
fieldset div label:hover{
    cursor: pointer;
}

fieldset div label img:hover {
    transform: scale(1.1);
}

fieldset div input[type=text]:focus, fieldset div input[type=email]:focus {
    border: solid 4px black;
    outline: none;
}

/* checked */
fieldset label input[type=radio]:checked {
    border: solid 4px black;

}

/***********************************************/
/************** ERROR VALIDATION **************/
/*********************************************/

.errorMsg {
    background-color: rgb(173, 32, 32);
    border: white 2px solid;
    padding: .1em;
    text-align: center;
    margin: .5em auto;
    max-width: 21em;
}

.errorMsg img{
    width: 15px;
    height: 15px;
}

/*****************************************/
/************** RESPONSIVE **************/
/***************************************/
/* dont forget: mobile first, in media laptop*/
/* more info: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */

@media (min-width: 768px) {

    h2{
        text-align: center;
        font-size: 24px;
    }
    
    main svg{
        width: 350px;
    }

    header{
        flex-direction: row; /* test */
    }
    
    fieldset {
        margin: 2em auto;
    }

    img[src] {
        width: 170px;
        height: 80px;
        transition: .3s ease-in-out; /* test */
    }

    .errorMsg img{
        width: 15px;
        height: 15px;
    }

    .home section h1 {
        font-size: 30px;
    }

    /************** LAYOUT **************/
    .formBestel, .formLayout.show   {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        /* align-items: center; */
    }

    .formBestel > h1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #svgShow p:first-of-type {
        top: 19em;
        font-size: 16px;

  }

    .home section{
        
        max-height: 11em;
     
    }
}
