/* custom properties */

:root{
    /* is niet overal supported...*/

    /* color */
    --prime-color-1: #663399;
    --prime-color-2: white;
    --prime-color-3: black;

    /* font */
    --bold: 700;
    --regular-size: 12px;
    --medium-size: 16px;
    --big-size: 24px;

    /* sizes */
    --width-form: 780px;
    --img-width: 200px;
    --img-height: 100px;

    /* other */
    --box-shadow:  5px 5px 0px;
}

/*************************************/
/************** BASICS **************/
/***********************************/

body{
    background-color: var(--prime-color-1);
    color:var(--prime-color-2);
    margin: 0;
    box-sizing: border-box;
    hyphens: auto;
}

body, p, fieldset div input[type=text], fieldset div input[type=email], text {
    font-family: 'Space Mono', monospace;
}

i{
    font-weight: 300;
}

/*************************************/
/************** HEADER **************/
/***********************************/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header svg{
    margin: 0em 1em;
}


/***********************************/
/************** MAIN **************/
/*********************************/

/* section + shirt */

.shirtColor{
    fill: white;
    stroke:#000;
    stroke-miterlimit:10;
}

.formLayout section:first-of-type{
    justify-content: center;
    /* not supported everywhere */
    display: grid;
    grid-template-rows: 0fr 1fr;
    text-align: center;
    position: relative;
}

svg + p{
    position: absolute;
    top: 19em;
    left: 0;
    right: 0;
    mix-blend-mode: difference;
}
text {
    text-align: center;
    font-size: 7px;
    width: 10px;
    background-color: white;
}

/* home page*/

.home section{
    max-width: 25em;
    text-align: center;
    border: var(--prime-color-2) 5px solid;
    margin: 0 auto;
}

/* links that also works like button, same look */
main a{
    text-decoration: none;
    color: var(--prime-color-3);
    max-width: 10em;
    text-align: center;
}

/***********************************/
/************** FORM **************/
/*********************************/

/* basics */

fieldset{
    background-color: var(--prime-color-2);
    max-width: var(--width-form);
    color: var(--prime-color-3);
    border: none;
    text-align: center;
}

fieldset legend{
    font-weight: var(--bold);
}

fieldset div{
    margin: 20px 0px;
}

/* fieldset div input[type=radio]{ */
    /* visibility: hidden; */
/* } */

/* text */

fieldset div > p, label[for=text]{
    font-weight: var(--bold);
}

/* Logo sizes - img on shirt */

form fieldset div:nth-of-type(3) img{
    width: var(--img-width);
    height: var(--img-height);
    transition: .3s ease-in-out;
}

/* input with text field */

fieldset div input[type=text], fieldset div input[type=email], fieldset div input[type=number]  {
    display: block;
    border: solid 2px var(--prime-color-3);
    transition: .2s ease;
    padding: 5px;
    margin: 1em auto;

}

/* input radio buttons */
fieldset div label:hover{
    cursor: pointer;
}

/* button */

form button, main a {
    border: var(--prime-color-3) solid 2px;
    padding: .1em 2em;
    box-shadow: var(--box-shadow) var(--prime-color-3);
    /* old version of safari didn't support it  */
    -webkit-box-shadow: var(--box-shadow) var(--prime-color-3);
    background-color: var(--prime-color-2);
    margin: 1em auto;
    display: block;
}

form button p{
    font-size: var(--medium-size);
}

/* States */

form button:hover,  main a:hover, form button:focus,  main a:focus{
    box-shadow: 10px 10px 0px var(--prime-color-3);
    -webkit-box-shadow: 10px 10px 0px var(--prime-color-3);
    cursor: pointer;
}

form label:hover{
    transform: translate(1.1);
}

form button:hover p, form button:focus p,  main a:hover,  main a:focus{
    font-weight: var(--bold);
}
fieldset div label:hover{
    cursor: pointer;
}

fieldset div label img:hover {
    transform: scale(1.1);
}

fieldset div input[type=text]:focus, fieldset div input[type=email]:focus {
    border: solid 4px var(--prime-color-3);
    outline: none;
}

/* checked */
fieldset div input[type=radio]:checked {
    border: solid 4px var(--prime-color-3);
    /* outline: none; */
}

/*****************************************/
/************** RESPONSIVE **************/
/***************************************/
/* dont forget: mobile first, in media laptop*/
/* more info: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */

@media (min-width: 768px) {

    header{
        flex-direction: row;
    }
    
    /************** LAYOUT **************/
    .formLayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .formLayout > h1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

  }

  /* USE THIS IN CSS AND OBJECT DETECTION IN JS FOR PE donr forget */
  @support {

  }