/* custom properties */

:root{

    /* color */
    --prime-color-1: #663399;
    --prime-color-2: white;
    --prime-color-3: black;

    /* font */
    --bold: 700;
    --regular-size: 12px;
    --medium-size: 16px;
    --big-size: 24px;

    /* sizes */
    --width-form: 780px;
    --img-width: 200px;
    --img-height: 100px;

    /* other */
    --box-shadow:  5px 5px 0px;
}

/*************************************/
/************** BASICS **************/
/***********************************/

body{
    background-color: var(--prime-color-1);
    font-family: 'Space Mono', monospace;
    color:var(--prime-color-2);
}

p{
    font-family: 'Space Mono', monospace;
}

/*************************************/
/************** HEADER **************/
/***********************************/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header svg{
    margin: 0em 1em;
}


/***********************************/
/************** FORM **************/
/*********************************/

fieldset{
    background-color: var(--prime-color-2);
    max-width: var(--width-form);
    color: var(--prime-color-3);
    border: none;
}

fieldset legend{
    font-weight: var(--bold);
}

fieldset div input[type=text], fieldset div input[type=email]  {
    display: block;
}

/* Logo sizes - img on shirt */

form fieldset div:nth-of-type(3) img{
    width: var(--img-width);
    height: var(--img-height);
}

/* styling button */

form button {
    border: var(--prime-color-3) solid 2px;
    padding: .1em 2em;
    box-shadow: var(--box-shadow) var(--prime-color-3);
    background-color: var(--prime-color-2);
}

form button p{
    font-size: var(--medium-size);
}

/*****************************************/
/************** RESPONSIVE **************/
/***************************************/
/* dont forget: mobile first, in media laptop*/
/* more info: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */

@media (min-width: 768px) {

    header{
        flex-direction: row;
    }
    
    /************** LAYOUT **************/
    .formLayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* States */

    form button:hover, form button:focus{
        box-shadow: 10px 10px 0px var(--prime-color-3);
        cursor: pointer;
    }

    form button:hover p, form button:focus p{
        font-weight: var(--bold);
    }
  }